@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aquí puedes poner tus estilos personalizados */
body {
  font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Ejemplo: estilo personalizado para tus vistas */
.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f2937;
}
